<div class="col-lg-4">
    <div class="sidebar-wrap">
      <div class="sidebar-widget search card p-4 mb-3 border-0">
        <form method="get" action="">
          <input type="text" class="form-control" name="q" placeholder="Search" value="{{ search_query }}">
          <button type="submit" class="btn btn-main btn-small d-block mt-2">Search</button>
      </form>            
      </div>
      <div class="sidebar-widget card border-0 mb-3">
        <img src="images/blog/blog-author.jpg" alt="" class="img-fluid" />
        <div class="card-body p-4 text-center">
          <h5 class="mb-0 mt-4">Aitua Japheth</h5>
          <p>Journalist</p>
          <p>
            Journalism illuminates the hidden corners of truth, transforming silence into stories that resonate with the world.
          </p>

          <ul class="list-inline author-socials">
            <li class="list-inline-item mr-3">
              <a href="#"><i class="fab fa-facebook-f text-muted"></i></a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#"><i class="fab fa-twitter text-muted"></i></a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#"
                ><i class="fab fa-linkedin-in text-muted"></i
              ></a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#"><i class="fab fa-pinterest text-muted"></i></a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#"><i class="fab fa-behance text-muted"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="sidebar-widget latest-post card border-0 p-4 mb-3">
        <h5>Latest Posts</h5>
    
        {% for news_item in latest_news %}
        <div class="media border-bottom py-3">
            <div class="lastest-img">
                <a href="#"><img class="mr-4 img-fluid" src="{{ news_item.image.url }}" alt="{{ news_item.title }}" /></a>
            </div>
            <div class="media-body">
                <h6 class="my-2"><a href="{{ news_item.get_absolute_url }}">{{ news_item.title }}</a></h6>
                <span class="text-sm text-muted">{{ news_item.timestamp|date:"d M Y" }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    

      <div class="sidebar-widget bg-white rounded tags p-4 mb-3">
        <h5 class="mb-4">Tags</h5>

        <a href="#">Web</a>
        <a href="#">agency</a>
        <a href="#">company</a>
        <a href="#">creative</a>
        <a href="#">html</a>
        <a href="#">Marketing</a>
        <a href="#">Social Media</a>
        <a href="#">Branding</a>
      </div>
    </div>
  </div>